:root {
  --color-blue: #0065fc;
  --color-light-blue: #deebff;
  --color-light-gray: #f2f2f2;
  --color-gray: #dbdbdb;
}

/* GENERAL STYLES */

html {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
@media only screen and (min-width: 550px) and (max-width: 1060px) {
  html {
    font-size: 16px;
  }
}
body {
  margin: 0;
}
header {
  padding: 20px 20px 0 20px;
}
section,
footer {
  padding: 20px;
}
footer {
  background: var(--color-light-gray);
}
@media only screen and (min-width: 550px) {
  header {
    padding: 30px 30px 0px 30px;
  }
  section,
  footer {
    padding: 30px 40px;
  }
}
@media only screen and (min-width: 700px) {
  section,
  footer {
    padding: 30px 120px;
  }
}
@media only screen and (min-width: 1060px) {
  section {
    padding: 20px 30px;
  }
  footer {
    margin-top: 25px;
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1500px) {
  section {
    padding: 20px 35px;
  }
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
h1 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: -5px;
}
h3 {
  margin: 10px 0;
  font-size: 1rem;
}
p {
  margin: 10px 0;
  font-size: 0.9rem;
}
input {
  border: none;
  outline: none;
}

/* UTILITIES */

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}
.accent {
  color: var(--color-blue);
}
.bold {
  font-weight: 600;
}
.filled {
  color: var(--color-blue);
}
.unfilled {
  color: var(--color-gray);
}
.inline-flex {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.mobile {
  display: block;
}
.desktop {
  display: none;
}

@media only screen and (min-width: 550px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
.fa-star {
  font-size: 0.8rem;
  margin: -1px;
}
/* NAVIGATION BAR */

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-items {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 15px;
}
.nav-item {
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 550px) {
  .toggle-alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-bar {
    margin: 0px;
  }
  nav {
    width: 350px;
  }
  .nav-item {
    width: 100%;
  }
  .nav-items {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1060px) {
  nav {
    width: 450px;
  }
}
.nav-item a:hover,
.nav-item a:focus,
.nav-item a:active {
  color: var(--color-blue);
}
.nav-item a::before {
  content: "";
  display: block;
  position: relative;
  bottom: -32px;
  height: 3px;
  width: 100%;
  background-color: var(--color-blue);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}
.nav-item a:active::before {
  background-color: var(--color-blue);
}
.nav-item a:hover::before,
a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
@media only screen and (min-width: 550px) {
  .nav-item a::before {
    bottom: 42px;
  }
}
/* MENU SECTION */

.search-bar {
  border: 1px solid var(--color-light-gray);
  border-radius: 12px;
  display: flex;
  max-width: 340px;
  margin: 25px 0;
}
.search-bar:hover {
  box-shadow: 1px 1px 2px 3px var(--color-light-gray);
}

#searchTerm {
  padding: 13px;
  margin: 0 -4px;
  width: 230px;
  font-weight: 600;
}
@media only screen and (min-width: 1060px) {
  #searchTerm {
    width: 330px;
  }
}
.pin-icon {
  background: var(--color-light-gray);
  padding: 14px 20px;
  border-radius: 10px 0 0px 12px;
}
.search-icon,
.btn-search {
  padding: 14px;
  background: var(--color-blue);
  color: #fff;
  border-radius: 12px;
}
.btn-search {
  border-radius: 0 12px 12px 0;
}
@media only screen and (min-width: 1100px) {
  .filters {
    display: inline-flex;
    align-items: baseline;
  }
}
.filter-container {
  display: inline-block;
  margin-bottom: 10px;
}
.btn-toggle {
  border: 1px solid var(--color-gray);
  border-radius: 40px;
  padding: 12px 18px;
  text-indent: 28px;
  transition: box-shadow ease-in 0.2s;
}
.btn-toggle:hover {
  box-shadow: 0px 2px 8px 2px var(--color-gray);
}
.filter-icon {
  background: var(--color-gray);
  padding: 14px;
  border-radius: 50%;
  position: relative;
  left: 40px;
  text-align: center;
  background: var(--color-light-blue);
  color: var(--color-blue);
  min-width: 18px;
}
.info-icon {
  padding: 4px 7px;
  border-radius: 50%;
  text-align: center;
  color: var(--color-blue);
  background: #fff;
  border: 1px solid rgb(192, 192, 192);
  font-size: 8px;
}

/* RESULTS SECTION */

#popular {
  background: var(--color-light-gray);
}
@media only screen and (min-width: 1060px) {
  #popular {
    width: 38%;
    max-width: 350px;
    border-radius: 20px;
    margin: 0 20px 0 10px;
  }
}
.chart-icon {
  font-size: 22px;
}
.result-holder {
  background: #fff;
  border-radius: 18px;
  padding: 6px;
  margin: 10px 0;
  height: 210px;
  box-shadow: 0px 5px 5px 0.1px rgb(228, 228, 228);
  cursor: pointer;
  transition: transform 0.3s;
}
.result-holder:hover {
  transform: scale(1.05);
}
.result-holder img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
@media only screen and (min-width: 700px) and (max-width: 1060px) {
  .result-holder {
    height: 300px;
  }
  .result-holder img {
    height: 70%;
  }
}
.result-description {
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 16px;
}
.horizontal {
  display: flex;
  height: initial;
}
.horizontal img {
  width: 110px;
  height: 110px;
  border-radius: 12px 0 0px 12px;
}
@media only screen and (min-width: 415px) and (max-width: 550px),
  (min-width: 1300px) {
  .horizontal img {
    width: 130px;
    height: 130px;
  }
  .result-description {
    margin: 10px 20px 10px 20px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 1060px) {
  .horizontal img {
    margin: auto 0;
    width: 180px;
    height: 180px;
  }
  .result-description {
    margin: 0 40px 15px 30px;
  }
  .result-text {
    margin-top: 10px;
  }
}
.result-description-vertical {
  line-height: 14px;
  margin: 0 10px;
}
@media only screen and (min-width: 1060px) {
  .flex-container {
    display: flex;
    flex-direction: row-reverse;
  }
  #hebergements {
    width: 100%;
    background: var(--color-light-gray);
    border-radius: 20px;
    margin: 0 10px 0 20px;
  }
  .all-results {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .all-results .result-holder {
    width: 30%;
  }
  .horizontal p,
  .horizontal h3 {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  .popular-results {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
/* ACTIVITY SECTION */

.activity-holder {
  border-radius: 18px;
  margin: 20px 0;
  height: 250px;
  box-shadow: 0px 2px 8px 2px var(--color-gray);
  cursor: pointer;
  transition: transform 0.3s;
}
.activity-holder:hover {
  transform: scale(1.05);
}
.activity-holder img {
  width: 100%;
  height: 78%;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.activity-title {
  height: 30px;
  margin: 15px 20px;
}
@media only screen and (min-width: 1060px) {
  .activities-container {
    display: flex;
    flex-direction: row;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .activity-title {
    height: initial;
    margin: auto 0;
    padding: 20px 20px;
  }
  .activity-holder {
    margin: 0 10px;
    height: fit-content;
  }
  .holder-xl img {
    height: 400px;
  }
  .holder-l img {
    height: 200px;
  }
  .holder-m img {
    height: 160px;
  }
  .holder-s img {
    height: 120px;
  }
}
/* FOOTER */

.footer-section {
  margin: 0px 0 30px 0;
  padding: 0 20px;
}
.footer-section h3 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 1060px) {
  .footer-section {
    margin: 0;
    width: 30%;
  }
}
